if ! has nix_direnv_version || ! nix_direnv_version 2.5.1; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.5.1/direnvrc" "sha256-puRzug17Ed4JFS2wbpqa3k764QV6xPP6O3A/ez/JpOM="
fi

watch_file ./nix/**/*.nix

# Replace path:nix#web with path:nix#mobile if you want to build the mobile app
if ! use flake path:nix#web --impure --accept-flake-config
then
  echo "Shell could not be built. The shell environment was not loaded. Make the necessary changes to the files in ./nix and 'direnv allow' to try again." >&2
fi
